*{
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body {
  margin: 0;
  font: 1.6rem / 1.5 sans-serif;
}
figure{
  display: block;
  margin: 0;
}

.container{
  display: block;
  width: 90rem;
  max-width: 100%;
  margin: auto;
  padding: 0 2rem;
}

.subtitles{
  font-size: 1.4rem;
  display: block;
  margin: 0.5em 0;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.titles{
  font-size: 3.2rem;
  display: block;
  margin: 0.5em 0;
  font-weight: 400;
}
.subtitles + .titles{
  margin-top: 0;
}
.text p{
  display: block;
  margin: 1em 0;
}

.btn{
  background: #222;
  color: #FFF;
  font-size: 1.5rem;
  display: inline-block;
  width: auto;
  min-width: 15rem;
  padding: 1rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.tag{
  background: #444;
  color: #FFF;
  font-size: 1.1rem;
  line-height: 1;
  display: inline-block;
  padding: 0.4em 0.6em;
  border-radius: 0.3em;
}